<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Caliroots{% endblock %}</title>
    {% block stylesheets %}
        <style>
            @font-face {
                font-family: "AntiPasto";
                src: url({{ asset('bundles/clothing/css/font/Antipasto_regular.otf') }}) format("truetype");
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet/less" href="{{ asset('bundles/clothing/css/main.less') }}">
        <link rel="stylesheet" href="{{ asset('bundles/clothing/owl-carousel/owl.carousel.css') }} ">
        <link rel="stylesheet" href="{{ asset('bundles/clothing/owl-carousel/owl.theme.css') }} ">
        {% block styles %}{% endblock %}
    {% endblock %}
    <link rel="icon" href="{{ asset('bundles/clothing/img/logo.jpg') }}"/>
</head>
<body>
{% block body %}
    <div id="body-container">
        <div id="caliroots-logo">
            <img src="{{ asset('bundles/clothing/img/logo.gif') }}"/>
        </div>
        {% block nav %}
            <nav id="main-nav">
                <ul id="navlist">
                    <li>
                        <a href="{{ path('home') }}">Home</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="{{ path('men') }}">Men</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="{{ path('women') }}">Women</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="{{ path('roots') }}">Roots</a>
                    </li>
                </ul>
            </nav>
        {% endblock %}
        {% block main %}
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.1.0/less.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/clothing/owl-carousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('bundles/clothing/js/main.js') }}"></script>
    {% block scripts %}
    {% endblock %}
{% endblock %}
</body>
</html>
