{% extends '::base.html.twig' %}

{% block main %}
    <div id="owl-example">
        <div class="item"><img src="{{ asset('bundles/clothing/img/A.jpg') }}" alt="Owl Image"></div>
        <div class="item"><img src="{{ asset('bundles/clothing/img/C.jpg') }}" alt="Owl Image"></div>
        <div class="item"><img src="{{ asset('bundles/clothing/img/E.jpg') }}" alt="Owl Image"></div>
        <div class="item"><img src="{{ asset('bundles/clothing/img/F.jpg') }}" alt="Owl Image"></div>
        {#<div class="item"><img src="{{ asset('bundles/clothing/img/H.jpg') }}" alt="Owl Image"></div>#}
        {#<div class="item"><img src="{{ asset('bundles/clothing/img/I.jpg') }}" alt="Owl Image"></div>#}
        {#<div class="item"><img src="{{ asset('bundles/clothing/img/J.jpg') }}" alt="Owl Image"></div>#}
        {#<div class="item"><img src="{{ asset('bundles/clothing/img/K.jpg') }}" alt="Owl Image"></div>#}
    </div>
{% endblock %}