{% extends '::base.html.twig' %}

{% block main %}
    <div id="owl-example">
        <div class="item"><img src="{{ asset('bundles/clothing/img/photo6.jpg') }}" alt="Owl Image"></div>
        <div class="item"><img src="{{ asset('bundles/clothing/img/photo6.jpg') }}" alt="Owl Image"></div>
        <div class="item"><img src="{{ asset('bundles/clothing/img/photo6.jpg') }}" alt="Owl Image"></div>
        <div class="item"><img src="{{ asset('bundles/clothing/img/photo6.jpg') }}" alt="Owl Image"></div>
        <div class="item"><img src="{{ asset('bundles/clothing/img/photo6.jpg') }}" alt="Owl Image"></div>
    </div>
{% endblock %}